/* Project-wide style */

body{
  position: absolute;
height: 5900px;
  width:1440px;
overflow-y: scroll;
  
  background: #472836 !important;
}
 #ori{
   color: white;
   position: relative;
   top : 1000px;
 }

 #forms{
   color : white;
   top : 1000px;
 }

 #navbar{
  position: absolute;
width: 1440px;
height: 120px;

background: #FF8208;
box-sizing: border-box;
 
}

ul{
  list-style-type: none;
}

header{
  position: absolute;
width: 1440px;
height: 700px;
left: 0px;
top: 0px;


background: #FF8208;
border: 1px solid #000000;
box-sizing: border-box;
  color:white;

}
h2{
  position: absolute;
  width: 80px;
  height: 28px;
  left: 140px;
  top: 46px;
}
.nav{
  position: absolute;
  width: 180px;
  height: 40px;
  top: 40px;
}
#nav_tentang_saya{
  left: 680px;
}
#nav_sepak_terjang{
  left: 860px;
}
#nav_kreasi_minat{
  left: 1040px;
}
#nav_kontak{
  left: 1220px;
}

#namaku{
  position: absolute;
width: 220px;
height: 40px;
left: 140px;
top: 234px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
}
#pewe{
  position: absolute;
width: 220px;
height: 40px;
left: 140px;
top: 314px;

font-family: Righteous;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 89px;
display: flex;
align-items: center;
}
#web_programmer{
 position: absolute;
width: 220px;
height: 40px;
left: 140px;
top: 450px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;

}
#foto_oval{
  height: 50px;
width: 100px;
border-radius: 50%;
  
  position: absolute;
  width: 490px;
  height: 360px;
  left: 800px;
  top: 180px;
  
  background: #C4C4C4;
  border: 2px solid #000000;
  box-sizing: border-box;
}


#tentang_saya{
  position: absolute;
  width: 1440px;
  height: 709px;
  left: 0px;
  top: 700px;
  background: #9AD2CB
}
#tentang_saya_teks{
  position: absolute;

left: 550px;
top: 20px;

  
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: black;
}
.foto_square{
  position: absolute;
width: 400px;
height: 400px;
left: 140px;
top: 158px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}
#deskripsi_singkat{
  position: absolute;
width: 320px;
height: 122px;
left: 601px;
top: 208px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 28px;

color: #000000;
}
#biodata_button{
  position: absolute;
width: 180px;
height: 60px;
left: 601px;
top: 467px;
}

#kontak_button{
  position: absolute;
  width: 180px;
  height: 60px;
  left: 842px;
  top: 467px;
}

#sepak_terjang{
  position: absolute;
width: 1440px;
height: 1500px;
left: 0px;
top: 1409px;
  
  background: #D7EBBA;
border: 1px solid #000000;
box-sizing: border-box;
  
}
#sepak_terjang_teks{
  position: absolute;
height: 100px;
left: 570px;
top: 80px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#riwayat_pendidikan{
  position: absolute;

left: 564px;
top: 251px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#line1{
  position: absolute;
width: 460px;
height: 0px;
left: 480px;
top: 570px;

border: 1px solid #000000;
transform: rotate(90deg);
}
#line2{
  position: absolute;
width: 170px;
height: 0px;
left: 540px;
top: 420px;

border: 1px solid #000000;
transform: rotate(180deg);
}
#line3{
  position: absolute;
width: 170px;
height: 0px;
left: 710px;
top: 520px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#line4{
      position: absolute;
width: 170px;
height: 0px;
left: 540px;
top: 620px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#line5{
   position: absolute;
width: 170px;
height: 0px;
left: 710px;
top: 720px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#magang_kerja{
  position: absolute;

left: 480px;
top: 890px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#line6{
     position: absolute;
width: 460px;
height: 0px;
left: 480px;
top: 1190px;

border: 1px solid #000000;
transform: rotate(90deg);
}

#line7{
   position: absolute;
width: 170px;
height: 0px;
left: 710px;
top: 1040px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#line8{
  position: absolute;
width: 170px;
height: 0px;
left: 540px;
top: 1140px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#line9{
   position: absolute;
width: 170px;
height: 0px;
left: 710px;
top: 1240px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#line10{
  position: absolute;
width: 170px;
height: 0px;
left: 540px;
top: 1340px;

border: 1px solid #000000;
transform: rotate(180deg);
}

#kreasi_minat{
  position: absolute;
width: 1440px;
height: 2613px;
left: 0px;
top: 2907px;
  
  background: #FEFFBE;
border: 1px solid #000000;
box-sizing: border-box;
}
#kreasi_minat_teks{
  position: absolute;
left: 525px;
top: 76px;
border-radius: nullpx;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
.square{
  height: 300px;
  width: 300px;
  background: #C4C4C4;
}

#kemampuan{
  position: absolute;
  left: 600px;
  top: 339px;
  
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: center;
text-align: center;

}
#square1{
  position: absolute;
  top:428px;
  left: 200px;
}
#square2{
  position: absolute;
  top:428px;
  left: 570px;
}
#square3{
  position: absolute;
  top:428px;
  left: 940px;
}

#organisasi_kepanitiaan{
  position: absolute;
  top: 914px;
  left: 425px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#square4{
  position: absolute;
  top:1003px;
  left: 200px;
}
#square5{
  position: absolute;
  top:1003px;
  left: 570px;
}
#square6{
  position: absolute;
  top:1003px;
  left: 940px;
}

#hobi{
  position: absolute;
left: 670px;

top: 1489px;


font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#square7{
  position: absolute;
  top:1578px;
  left: 200px;
}
#square8{
  position: absolute;
  top:1578px;
  left: 570px;
}

#square9{
  position: absolute;
  top:1578px;
  left: 940px;
}

#karya_proyek{
  position: absolute;
left: 590px;

bottom: 506px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;

display: flex;
align-items: center;
text-align: center;

color: #000000;
}
#square10{
  position: absolute;
  top:2153px;
  left: 200px;
}
#square11{
  position: absolute;
  top:2153px;
  left: 570px;
}
#square12{
  position: absolute;
  top:2153px;
  left: 940px;
}


#kontak{
  position: absolute;
left: 650px;
top: 5582px;
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
.sosmed{
  position: absolute;
width: 80px;
height: 80px;
}
#ig{
 left: 530px;
top: 5720px;
}
#in{
  left: 630px;
top: 5720px;
}
#fb{
  left: 730px;
top: 5720px;
}
#wa{
  left: 830px;
top: 5720px;
}
#kontak_teks{
  position: absolute;
  left: 150px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

}
  
