{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %}
  <title>Profile</title>
  {% endblock meta %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  {% block header %}
  <header>
    {% block this%}
    <p id="namaku">Namaku</p>
    <p id="pewe">Pewe</p>
    <p id="web_programmer">Web Programmer</p>
    <div id="foto_oval"></div>
    {% endblock this%}
  </header>
  {% endblock header %}

  <div id="navbar">
    <h2>Pewe</h2>
    <li id="nav_tentang_saya" class="nav"><a href="{% url 'main:home'%}">Home</a></li>
    <li id="nav_sepak_terjang" class="nav"><a href="{% url 'main:biodata'%}">Biodata</a></li>
    <li id="nav_kreasi_minat" class="nav"><a href="{% url 'main:ori'%}">Ori</a></li>
    <li id="nav_kontak" class="nav"><a href="{% url 'main:matkul' %}">Mata Kuliah</a></li>
  </div>

  {% block content %}
  {% endblock content %}

  <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>