{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Biodata</title>
{% endblock meta %}

{% block this%}
{% endblock this%}

{% block content %}

    <div class="foto_square"></div>
    <p id="deskripsi_singkat">Nama Lengkap: Pewe <br>
    Nama Panggilan: Pewe <br>
    Jenis Kelamin: <br>
    Tempat, Tanggal Lahir: <br>
    Alamat: <br>
    Kode Pos: <br>
        
        Email: <br>
        No. Telpon: <br>
    </p>

{% endblock content %}
