<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Buku</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
              <li><a href="/signup/">Sign Up</a></li>
              <li class="active"><a href="/login/">Log In <span class="sr-only">(current)</span></a></li>
              {% else %}
              <li><a href="../navbar-static-top/">Heyo {{request.user.username}}</a></li>
              <li class="active"><a href="/logout/">Log Out <span class="sr-only">(current)</span></a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
 
      <div class="container" style="padding-top: 100px;">
<input id="search" placeholder="Masukkan pencarian buku">
<br>
<br>
<table border="1px">
    <thead>
        <tr>
            <th>No</th>
            <th>Judul</th>
        </tr>
    </thead>
    <tbody id="hasil">

    </tbody>
</table>
      </div>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: "/initial/",
            success: function (data) {
                var array_items = data.items;
                for (i = 0; i < array_items.length; i++) {
                    $("#hasil").append("<tr><td>" + (i + 1) + "</td>" + "<td>" + array_items[i].volumeInfo.title + "</td></tr>")
                }
            }
        })
    });
    $("#search").keyup(function (item) {
        var ketikan = $("#search").val();
        //panggil ajax
        $.ajax({
            url: "/data?q=" + ketikan,
            success: function (data) {
                $("#hasil").empty();
                var array_items = data.items;
                for (i = 0; i < array_items.length; i++) {
                    $("#hasil").append("<tr><td>" + (i + 1) + "</td>" + "<td>" + array_items[i].volumeInfo.title + "</td></tr>")
                }
            }
        })
    })
</script>
</body>
</html>