<p> {{ matkul.nama}} </p>
<p> {{ matkul.dosen}} </p>
<p> {{ matkul.sks}} </p>
<p> {{ matkul.deskripsi}} </p>
<p> {{ matkul.semester_tahun}} </p>
<p> {{ matkul.ruang_kelas}} </p>
<p><a href="/detail_matkul/{{ matkul.id}}/delete/">Delete</a></p>