{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Profile</title>
<!-- <script type="text/javascript">
    alert("wey");
    function hello(){
        alert("hello");
        alert("it's me");
    }

    hello();
</script> -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% endblock meta %}


{% block content %}
<section>
    <div class="d-flex flex-column" id="tentang_saya">
        <div class="p-2">
            <a name="TentangSaya">
                <p id="tentang_saya_teks">Tentang Saya</p>

                <div class="foto_square"></div>
                <p id="deskripsi_singkat">Namaku Pewe, <br><br>
                    Aku aktif, ceria, dan energetik</p>
                <a href="biodata.html" id="biodata_button" class="btn btn-primary" role="button">Biodata</a>
                <a href="#Kontak" id="kontak_button" class="btn btn-secondary" role="button">Kontak</a>
            </a>
        </div>
        <div id="accordion">
            <div class="judul_accordion" id="aktivitas_judul">
                Aktivitas
                <div class="move">
                    <button class="naik">Naik</button>
                    <button class="turun">Turun</button>
                </div>
            </div>
            <div class="judul_accordion" id="aktivitas_desc">
                <p>
                    Ibadah, kuliah, organisasi, kepanitiaan
                </p>
            </div>
            <div class="judul_accordion" id="organisasi_judul">
                Pengalama Organisasi
                <div class="move">
                    <button class="naik">Naik</button>
                    <button class="turun">Turun</button>
                </div>
            </div>
            <div class="judul_accordion" id="organisasi_desc">
                <ul>
                    <li>Anggota Seksi Agama OSIS SMPN 19 Jakarta Periode 2013/2014</li>
                    <li>Ketua Seksi Agama OSIS SMPN 19 Jakarta Periode 2014/2015</li>
                    <li>Wakil Ketua Seksi VI MPK/OSIS SMAN 28 Jakarta Periode 2016/2017</li>
                    <li>Wakil Ketua OSIS MPK/OSIS SMAN 28 Jakarta Peiode 2017/2018</li>
                </ul>
            </div>
            <div class="judul_accordion" id="kepanitiaan_judul">
                Pengalaman Kepanitiaan
                <div class="move">
                    <button class="naik">Naik</button>
                    <button class="turun">Turun</button>
                </div>
            </div>
            <div class="desc_accordion">
                <p>
                    Staf Humas OH Fasilkom UI 2019 <br>
                    Staf Acara Wisuda Ganjul Fasilkom UI 2019 <br>
                    Ketua I Thalassic 2018
                </p>
            </div>
            <div class="judul_accordion" id="kepanitiaan_judul">
                Prestasi
                <div class="move">
                    <button class="naik">Naik</button>
                    <button class="turun">Turun</button>
                </div>
            </div>
            <div class="desc_accordion">
                <ul>
                    <li>juara 1</li>
                    <li>juara 2</li>
                    <li>juara 3</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="sepak_terjang">
        <a name="SepakTerjang">
            <p id="sepak_terjang_teks"><a name="SepakTerjang">Sepak Terjang</a></p>
            <p id="riwayat_pendidikan">Riwayat Pendidikan</p>
            <div id="line1"></div>
            <div id="line2"></div>
            <div id="line3"></div>
            <div id="line4"></div>
            <div id="line5"></div>
            <p id="magang_kerja">Pengalaman Magang dan Kerja</p>
            <div id="line6"></div>
            <div id="line7"></div>
            <div id="line8"></div>
            <div id="line9"></div>
            <div id="line10"></div>
        </a>
    </div>
    <div id="kreasi_minat">
        <a name="KreasiMinat">
            <p id="kreasi_minat_teks">Kreasi dan Minat</p>
            <p id="kemampuan">Kemampuan</p>
            <div id="square1" class="square"></div>
            <div id="square2" class="square"></div>
            <div id="square3" class="square"></div>
            <p id="organisasi_kepanitiaan">Pengalaman Organisasi dan Kepanitiaan</p>
            <div id="square4" class="square"></div>
            <div id="square5" class="square"></div>
            <div id="square6" class="square"></div>
            <p id="hobi">Hobi</p>
            <div id="square7" class="square"></div>
            <div id="square8" class="square"></div>
            <div id="square9" class="square"></div>
            <p id="karya_proyek">Karya dan Proyek</p>
            <div id="square10" class="square"></div>
            <div id="square11" class="square"></div>
            <div id="square12" class="square"></div>
        </a>
    </div>
</section>
<footer>

    <p id="kontak"><a name="Kontak">Kontak</a></p>
    <img src="static/img/ig.png" id="ig" class="sosmed">
    <img src="static/img/whatsapp.jpg" id="wa" class="sosmed">
    <img src="static/img/facebook.png" id="fb" class="sosmed">
    <img src="static/img/linkedin.jpg" id="in" class="sosmed">

</footer>
<script src="/static/js/script.js"></script>
{% endblock content %}