<form method="POST"> {% csrf_token %}
    <label for="fname">username:</label>
  <input type="text" id="fname" name="username"><br>
  <label for="lname">password:</label>
  <input type="text" id="lname" name="password"><br><br>
  <input type="submit" value="Log In">
</form>