<!-- {% extends 'base.html' %} -->
<!-- {% load static %} -->

<!-- {% block meta %} -->
<title>Mata Kuliah</title>
<!-- {% endblock meta %} -->

<!-- {% block header %}
{% endblock header %} -->

<!-- {% block content %} -->

    <form method="POST"> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value="Save" />
    </form>
<!-- <div id='forms'> -->
    <p><a href="/detail_matkul/">Detail Mata Kuliah</a></p>
<!-- </div> -->
<!-- {% endblock content %} -->