{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Ori</title>
{% endblock meta %}

{% block header %}
{% endblock header %}

{% block content %}
<body>
    <div id="ori">
    <h1>Ini profilku, mana profilmu?</h1>
    <table>
        <tr>
            <td>Nama</td>
            <td>Ahmad Harori Zaki Ichsan</td>
        </tr>

        <tr>
            <td>NPM</td>
            <td>1906353965</td>
        </tr>

        <tr>
            <td>Angkatan</td>
            <td>2019</td>
        </tr>

        <tr>
            <td>Deskripsi</td>
            <td>Saya adalah seorang penuntut ilmu</td>
        </tr>

        <tr>
            <td>Tempat Kuliah</td>
            <td>Universitas Indonesia</td>
        </tr>
    </table>
    <img src="static/img/TH03.jpg" alt="Harori">
    <h3>Riwayat Pendidikan</h3>
    <table border="1">
        <thead>
            <tr>
                <th>Tahun</th>
                <th>Institusi Pendidikan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2005 - 2007</td>
                <td>TK Darul Ma'arif</td>
            </tr>

            <tr>
                <td>2007 - 2013</td>
                <td>SD Cenderawasih II</td>
            </tr>

            <tr>
                <td>2013 - 2016</td>
                <td>SMPN 19 Jakarta</td>
            </tr>

            <tr>
                <td>2016 - 2019</td>
                <td>SMAN 28 Jakarta</td>
            </tr>
        </tbody>
    </table>
    <a href="https://www.instagram.com/ahmadharori">
        <img src="static/img/ig.png" alt="ig Ori">
    </a>
    </div>
</body>
{% endblock content %}